<div class="ctc-item">
	<p class="cticon"><i class="fa fa-phone-square fa-5x"></i></p>
	<h4>Hotline</h4>
	<p class="ctc-text">+84 04 3823 8643<br>+84 04 3829 3519</p>
</div>

<div class="ctc-item">
	<p class="cticon"><i class="fa fa-map-marker fa-5x"></i></p>
	<h4>Office</h4>
	<p class="ctc-text">25/D3, Vuon Dao Villa,<br>Lac Long Quan Rd., Phu Thuong<br>Tay Ho Dist., Hanoi</p>
</div>

<div class="ctc-item">
	<p class="cticon"><i class="fa fa-envelope fa-5x"></i></p>
	<h4>Email</h4>
	<p class="ctc-text">info@haviet.com<br>hcns@haviet.com</p>
</div>
