<div class="svc-item tx-center">
	<img src="{{ site.baseurl }}/hv-assets/imgs/dvhv-01.svg" />
	<h3>Hỗ trợ thiết kế</h3>
	<p>Hà Việt có đội ngũ thiết kế thạo nghề, kinh nghiệm lâu năm trong lĩnh vực thiết kế quảng cáo, sẵn sàng tư vấn cho khách hàng lựa chọn phương án thiết kế và vật liệu phù hợp nhất.</p>
</div>

<div class="svc-item tx-center">
	<img src="{{ site.baseurl }}/hv-assets/imgs/dvhv-02.svg" />
	<h3>Vệ sinh định kỳ</h3>
	<p>Hệ thống biển của Hà Việt luôn được vệ sinh định kỳ, đảm bảo không lấm bẩn, không xộc xệch... Hệ thống đèn chiếu sáng được kiểm tra và duy tu thường xuyên, các vị trí luôn duy trì đủ số giờ thắp sáng ban đêm.</p>
</div>

<div class="svc-item tx-center">
	<img src="{{ site.baseurl }}/hv-assets/imgs/dvhv-03.svg" />
	<h3>Sửa chữa nhanh</h3>
	<p>Mọi hư hỏng luôn được khắc phục trong thời gian ngắn nhất. Thông thường trong vòng 24 giờ sau sự cố, đội sửa chữa nhanh sẽ có mặt để kiểm tra và khắc phục ngay lập tức.</p>
</div>
