body {background: #555 url('http://subtlepatterns.com/patterns/kindajean.png');}
a {text-decoration:none;}

#page {width:960px; overflow:hidden; margin:2em auto; background: #fff;}

#header {height:10em; background:#0B3B0B; color:#fff;}


#footer {background:#0B3B0B; color:#fff; font-size:80%; padding:1em 3em;}
