body {background: #555 url('http://subtlepatterns.com/patterns/kindajean.png');}
a {text-decoration:none;}

#page {width:960px; overflow:hidden; margin:2em auto; background: #fff;}

#header {height:8em; background:#0B3B0B; color:#fff;}

#main-menu {height:3em; overflow:hidden;}
.top-menu {list-style:none; margin:0 0 0 3em; padding:0; text-align:center;}
.top-menu a {color:#fff;}
.top-menu-list a {display:block; width:20%; background:#088A08; padding:1em; float:left;}
.top-menu-list a:hover {background:#04B404;}


#footer {background:#0B3B0B; color:#fff; font-size:80%; padding:1em 3em;}
