---
layout: default
---

<div class="big-slideshow slideshow"><img src="http://placehold.it/960x350" /></div>

<div class="intro tbig tgreen tcenter">
  <br><p>Mot doan gioi thieu ngan ve cong ty Haviet, <br>khoang hai dong tom tat... </p><br>
</div>

{% include home-billboard.html %}

{% include home-dpc.html %}

{% include home-shelter.html %}

{% include home-cotquay.html %}

{% include home-kiosk.html %}

{% include home-others.html %}

<div class="tbig tgreen tcenter">
  <br><p>Gần hai mươi năm hoạt động trong lĩnh vực quảng cáo,<br>Công ty Hà Việt luôn được khách hàng tin tưởng và đánh giá cao...</p><br>
</div>