---

---

@import "_normalize";
@import "_slick";
@import "_globvar";

//

@import "_header-panel";

@import "_intro-panel";

@import "_info-panel";

@import "_products-panel";

@import "_services-panel";


$primary-color: #090;

$btrans: rgba(0,0,0,0.2);
$wtrans: rgba(250,250,250,0.8);

$mono: Cousine, monospace;
$sans: 'Open Sans', helvetica, arial, san-serif;
$basefont: 14px;


body { font: $basefont $sans; line-height:1.8em; }
h1, h2, h3, h4, h5 { margin: 0; padding: $basefont*1.5 0; }
hr { margin: 0; padding: 0; }
.tx-center { text-align: center; }



.inner { 
	@extend %inner
}

.section-content { 
	background: $wtrans; 
}


.arrow-down-01 {
	position: absolute;
	left: 50%;
	margin-left:-30px; 
	width: 0; 
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid rgb(0,60,50);
}

.arrow-up-01 {
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left:-30px; 
	width: 0; 
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid #f90;
}





.hv-05 {
	.hv-05-inner { 
		background: rgb(220,250,250); 
		padding-top: $basefont*5;
	}
	.news-item { 
		width: 40%;
		margin: $basefont; 
		display: inline-block; 
		img { width: 100%; }
	}
}

.hv-06 {
	.hv-06-inner {
		background: rgba(0,0,0,0.8);
		padding: 3em 0 2em;
		.ctc-item { 
			width: 30%;
			display: inline-block;
			vertical-align: top;
			color: #fff;
			h4 { padding: 0; }
			.ctc-text { 
				font-size: $basefont*0.8; 
				line-height: 1.5em;
			}
		}
	}
}