---

---

@import "_normalize";
@import "_slick";
@import "_globvar";

//

@import "_intro-panel";

@import "_info-panel";




$primary-color: #090;

$btrans: rgba(0,0,0,0.2);
$wtrans: rgba(250,250,250,0.8);




body { font: $basefont $sans; line-height:1.8em; }
h2, h3, h4, h5 { margin: 0; padding: $basefont*1.5 0; }
hr { margin: 0; padding: 0; }
.tx-center { text-align: center; }
.tx-white { color: #fff; }
.bgwhite { background: #fff; }
.bg-white-trans { background: rgba(255,255,255,0.5); }
.bg-black-trans { background: rgba(0,0,0,0.5); }
.bg-green-trans { background: rgba(0,60,50,0.5); }
.bgyellow { background: $hvyellow; }
.bg-hvgreen { background: $hvgreen; }
.bggrey { background: $hvlightgrey; }
.inner { 
	@extend %inner
}
.clear { @include clearfix(); }
.left { float: left; } .right { float: right; }

.btn {
	// button(color1,color2)
	@include button(#090,#fff);
}

/* ======================================================= header === */
@import "_header_section";

/* ====================================================== page jumbo */
.page-jumbo, .selling {
	padding: 50px 0;
	.big-text { font-size: $basefont*2; font-weight:300; line-height:1.2; }
	@media screen and (orientation:portrait) {
		padding: 20px 0;
		.big-text { font-size: $basefont*1.5; }
	}
}


/* ====================================================== content === */

.arrow-down-01 {
	//arrow (size,direction,color)
	@include arrow(30px,down,#fff);
}

.arrow-up-01 {
	@include arrow(30px,up,$hvyellow);
	bottom: 0px;
}

.arrow-down-03 {
	@include arrow(30px,down,$hvgreen);
}


/* ===================================================================== single page */

.page-top {
	background: #fff;
	max-height: 400px;
	line-height: 0.8;
	overflow: hidden;
	img {
		max-width:100%;
	}
}


.page-content {
	padding: 3em 0;
}
/* ====================================================================== prd block */
.prd-block, .service-block {
	padding: 5em 0;
}

.prd-block {
	background: #ccc;
}

.hv-03 {
	background: rgba(0,0,0,0.3);
}

.prd-item { 
	width: 25%;
	display: inline-block;
	margin: 10px;
	border: 5px solid #fff;
	img { width: 100%; }
	@media screen and (orientation: portrait) { width: 40%; }

	a {
		display: block;
		background: $hvyellow;
		text-decoration: none;
		color: #fff;
		@include transition(all, 0.3s, ease-out);
		&:hover {
			background: #fff;
			color: $primary-color;
		}
	}
}

/* ===================================================================== product list page */
.prd-outer {
	background: rgba(255,255,255,0.7);
}

.product-list {
	padding: 5em 0 8em;
}

.billboard,
.lightbox,
.bstation,
.bshelter,
.bstop,
.kiosk,
.others {
	line-height: 0.8;
	margin-top: 2em;
	border-bottom: 5px solid #fff;
	&-img {
		width: 68%;
		overflow: hidden;
		img {
			max-width: 100%;
		}
	}
	&-content {
		line-height: 1.4;
		width: 32%;
		padding: 0 4%;
		color: $hvlightgreen;
		h2 {
			color: #fff;
		}
	}
}

.billboard {
	//height: 320px;
	background: #499DC1;
}

.lightbox {
	//height: 340px;
	background: #a45;
}

.bstation {
	//height: 330px;
	background: #3691A1;
}

.bshelter {
	//height: 400px;
	background: #E4AA4E;
}

.bstop {
	//height: 440px;
	background: #9FC676;
}

.kiosk {
	//height: 320px;
	background: #E06868;
}

.others {
	//height: 300px;
	background: #B495C0;
}

.more { padding-top: 2em; }
.prd-btn {
	@include button($hvyellow,#fff)
}

.product-desc {
	padding: 5em 0;
}





/* ===================================================================== contact page */

.ct-top {
	border-top: 10px solid $hvyellow;
	background: $hvgreen;
	color: #fff;
}

.ct-top-right {
	width: 30%;
	background: $hvyellow;
	text-align: right;
	padding-right: 30px;
	a {
		color: $primary-color;
		text-decoration: none;
		@include transition(all, 0.3s, ease-out);
		&:hover {
			color: #fff;
		}
	}
}

.ct-top-left {
	padding-left: 30px;
	font-weight: 700;
}

.ct-pane { 
	padding: 50px 0 50px 30px;
	background: $hvgreen;
	color: #fff;
}

















.hv-04 {
	background: rgba(255,153,0,0.2);
}

	
.svc-title { line-height: 1.2em; font-size: 3em; }

.svc-item { 
	width:27%; 
	display: inline-block;
	vertical-align: top; 
	margin: 10px;
	font-size: 12px;
	img { width: 70%; }
	@media screen and (orientation: portrait) { 
		width: 80%; 
		img { width: 50%; }
	}
}


.hv-05 {
	.hv-05-inner { 
		background: rgb(220,250,250); 
		padding-top: $basefont*5;
	}
	.news-item { 
		width: 40%;
		margin: $basefont; 
		display: inline-block; 
		img { width: 100%; }
	}
}

.hv-06 {
	.hv-06-inner {
		background: rgba(0,0,0,0.8);
		padding: 3em 0 2em;
		.ctc-item { 
			width: 30%;
			display: inline-block;
			vertical-align: top;
			color: #fff;
			h4 { padding: 0; }
			.ctc-text { 
				font-size: $basefont*0.8; 
				line-height: 1.5em;
			}
		}
	}
}

//temporary
.home-slideshow {
	height:450px;
	background-color: #fff;
	overflow: hidden;
}

.hvmap {
	background: $btrans;
	.map {
		height: 400px;
		background: url('/hv-assets/imgs/map.jpg') no-repeat center center;
	}
}

