<div class="row">
<div class="medium-4 columns text-center">
	<p class="cticon"><i class="fa fa-phone-square fa-5x"></i></p>
	<h4 style="color:#fff;">Hotline</h4>
	<p style="font-size:14px;">+84 04 3823 8643<br>+84 04 3829 3519</p>
</div>
<div class="medium-4 columns text-center">
	<p class="cticon"><i class="fa fa-map-marker fa-5x"></i></p>
	<h4 style="color:#fff;">Office</h4>
	<p style="font-size:14px;">25/D3, Vuon Dao Villa,<br>Lac Long Quan Rd., Phu Thuong<br>Tay Ho Dist., Hanoi</p>
</div>
<div class="medium-4 columns text-center">
	<p class="cticon"><i class="fa fa-envelope fa-5x"></i></p>
	<h4 style="color:#fff;">Email</h4>
	<p style="font-size:14px;">info@haviet.com<br>hcns@haviet.com</p>
</div>
</div>
<br><br><br>

<div class="row show-for-medium-up">
<div class="columns">

	<div class="text-center">
		<a href="#" class="button radius" data-reveal-id="hv-history"><i class="fa fa-road fa-lg"></i> Lịch sử phát triển</a>
		<div id="hv-history" class="reveal-modal text-center" data-reveal>
			{% include modal-hv-history.html %}
			<a class="close-reveal-modal">&#215;</a>
		</div>
		
		<a href="#" class="button radius" data-reveal-id="hv-ads-booking"><i class="fa fa-check-circle fa-lg"></i> Đặt chỗ quảng cáo</a>
		<div id="hv-ads-booking" class="reveal-modal text-center" data-reveal>
			{% include modal-hv-ads-booking.html %}
			<a class="close-reveal-modal">&#215;</a>
		</div>
		
		<a href="#" class="button radius" data-reveal-id="hv-documents"><i class="fa fa-puzzle-piece fa-lg"></i> Tài liệu &amp; Quy trình tác nghiệp</a>
		<div id="hv-documents" class="reveal-modal text-center" data-reveal>
			{% include modal-hv-documents.html %}
			<a class="close-reveal-modal">&#215;</a>
		</div>
	</div>
	
</div>

</div>




<!-- ==================================== show for small ========================= -->
<div class="row show-for-small-only">
<div class="columns">

	<p class="homepull text-center">Gần hai mươi năm cung cấp dịch vụ quảng cáo, Hà Việt luôn lắng nghe và cố gắng đáp ứng một cách tốt nhất từng yêu cầu của khách hàng.</p>
	<br><br>
	<div class="text-center">
		<a href="#" class="button expand radius"><i class="fa fa-road fa-lg"></i> Lịch sử phát triển</a>
		<a href="#" class="button expand radius"><i class="fa fa-check-circle fa-lg"></i> Đặt chỗ quảng cáo</a>
		<a href="#" class="button expand radius"><i class="fa fa-puzzle-piece fa-lg"></i> Tài liệu &amp; Quy trình tác nghiệp</a>
	</div>

</div>
</div>