<div class="dept-list">

	<h2>Cac phong chuc nang</h2>

	<ul class="dept-list-items">
		<li class="dept-list-item">
			<img src="http://placehold.it/290x180" />
			<h4>Hanh chinh nhan su</h4>
			<p>blah blah...</p>
		</li>

		<li class="dept-list-item">
			<img src="http://placehold.it/290x180" />
			<h4>Dau tu phat trien</h4>
			<p>blah blah...</p>
		</li>

		<li class="dept-list-item">
			<img src="http://placehold.it/290x180" />
			<h4>Cham soc khach hang</h4>
			<p>blah blah...</p>
		</li>

		<li class="dept-list-item">
			<img src="http://placehold.it/290x180" />
			<h4>Thiet ke</h4>
			<p>blah blah...</p>
		</li>

		<li class="dept-list-item">
			<img src="http://placehold.it/290x180" />
			<h4>Ke toan</h4>
			<p>blah blah...</p>
		</li>

		<li class="dept-list-item">
			<img src="http://placehold.it/290x180" />
			<h4>Ban hang dich vu</h4>
			<p>blah blah...</p>
		</li>
		<br class="clear" />
	</ul>

</div>