<script src="{{ site.baseurl }}/foundation/js/vendor/jquery.js"></script>
<script src="{{ site.baseurl }}/foundation/js/foundation.min.js"></script>
<script src="{{ site.baseurl }}/foundation/js/bs.min.js"></script>

<script>
  $(document).foundation();
</script>

<!-- +++++++++++++++++++++ outer head +++++++++++++++++++++ -->
<script>
 $.backstretch("{{ site.baseurl }}/foundation/img/sitebg2.jpg");

 $(".slideshow-outer").backstretch([
    "{{ site.baseurl }}/foundation/img/hbg1.jpg",
    "{{ site.baseurl }}/foundation/img/hbg2.jpg",
    "{{ site.baseurl }}/foundation/img/hbg3.jpg"    
], {duration: 5000, fade: 1500});
</script>

<!-- +++++++++++++++++ for smooth scrolling +++++++++++++++ -->
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>