<section class="closingline">
  <div class="small-column address-col left">
    <p><img src="http://placehold.it/48x48" /></p>
    <p><strong>Office:</strong></p>
    <p>25/D3, Vuon Dao Villa,<br>Lac Long Quan Rd,<br>Tay Ho Dist, Hanoi</p>
  </div>
  <div class="small-column phone-col left">
    <p><img src="http://placehold.it/48x48" /></p>
    <p><strong>Hotline:</strong></p>
    <p>+84 04 3823 8643<br>+84 04 3829 3519</p>
    <p><strong>Sales Dept.</strong></p>
    <p>+84 04 3829 3519 <strong>Ext.19</strong></p>
  </div>
  <div class="small-column email-col left">
    <p><img src="http://placehold.it/48x48" /></p>
    <p><strong>Customer Support:</strong></p>
    <p>info@haviet.com</p>
  </div>
  <div class="clear"></div>
</section>
<footer class="site-footer">

&copy; xabeng.

</footer>

</div><!-- close page div started in header.html file -->
