<footer class="site-footer">
<div class="row">
	<div class="small-12 medium-4 columns">
		<p class="copyright">&copy; 2014 - Havico Corporation</p>
	</div>

	<div class="show-for-medium-up medium-8 columns">
		<ul class="inline-list right footer-links">
			<li><a href="{{ site.baseurl }}/#top"><i class="fa fa-home"></i> Home</a></li>
			<li><a href="{{ site.baseurl }}/#sanpham"><i class="fa fa-info-circle"></i> Products List</a></li>
			<li><a href="#" data-reveal-id="hv-contact"><i class="fa fa-envelope"></i> Email to Haviet</a></li>
				<div id="hv-contact" class="reveal-modal text-center" data-reveal>
					{% include modal-hv-contact.html %}
					<a class="close-reveal-modal">&#215;</a>
				</div>
		</ul>
	</div>

</div>
</footer>

