<div class="shdown"></div>
<div class="row">
<div class="columns">
	<h1 class="text-center"><strong>Những đặc điểm chính</strong><br>trong hệ thống dịch vụ của Hà Việt</h1>
	<br><br>
	<ul class="small-block-grid-1 medium-block-grid-3">
		<li class="dvlist text-center">
			<img src="{{ site.baseurl }}/foundation/img/dvhv-01.svg">
			<h4>Hỗ trợ thiết kế</h4>
			<p>Hà Việt có đội ngũ thiết kế thạo nghề, kinh nghiệm lâu năm trong lĩnh vực thiết kế quảng cáo, sẵn sàng tư vấn cho khách hàng những phương án thiết kế phù hợp nhất.</p>
		</li>

		<li class="dvlist text-center">
			<img src="{{ site.baseurl }}/foundation/img/dvhv-02.svg">
			<h4>Vệ sinh định kỳ</h4>
			<p>Hệ thống biển của Hà Việt luôn được vệ sinh định kỳ, đảm bảo không bị lấm bẩn, xộc xệch... Hệ thống đèn chiếu sáng được kiểm tra và duy tu thường xuyên, các vị trí luôn duy trì đủ số giờ thắp sáng ban đêm.</p>
		</li>

		<li class="dvlist text-center">
			<img src="{{ site.baseurl }}/foundation/img/dvhv-03.svg">
			<h4>Sửa chữa nhanh</h4>
			<p>Mọi hư hỏng luôn được khắc phục trong thời gian ngắn nhất. Thông thường trong vòng 24 giờ sau sự cố, đội sửa chữa nhanh sẽ có mặt để kiểm tra và khắc phục ngay lập tức.</p>
		</li>

	</ul>
	
</div>
</div>
<div class="shup"></div>