<div class="row-01">
<!--<div class="shadow center-block"><img src="{{ site.imgs | prepend: site.baseurl }}/shadow.png" /></div>-->
  <div class="container">
    <div class="introtext text-center">
      <p class="lead">Can mot doan intro hoac cau quang cao o day, mot dong thoi</p>
      <p>Va them vai dong gioi thieu cong ty ha viet o day. Doan nay co the viet khoang hai dong. Neu nhieu qua se rat kho dep khi hien thi tren cac kich thuoc man hinh khac nhau.</p>
    </div>

      <div class="logo text-center">

          <img src="{{ site.imgs | prepend: site.baseurl }}/hv03.svg" />

      </div>


  </div>
</div>