<div class="row">
<div class="columns">
		
	<ul class="small-block-grid-2 medium-block-grid-3">
		<li>
			<img src="http://placehold.it/360x280">
			<div class="splist-caption">Biển tấm lớn</div>
		</li>

		<li>
			<img src="http://placehold.it/360x280">
			<div class="splist-caption">Trạm trung chuyển</div>
		</li>

		<li>
			<img src="http://placehold.it/360x280">
			<div class="splist-caption">Biển dải phân cách</div>
		</li>

		<li>
			<img src="http://placehold.it/360x280">
			<div class="splist-caption">Biển nhà chờ bus</div>
		</li>

		<li>
			<img src="http://placehold.it/360x280">
			<div class="splist-caption">Biển công trình công cộng</div>
		</li>

		<li>
			<img src="http://placehold.it/360x280">
			<div class="splist-caption">Biển cột quay</div>
		</li>


	</ul>
	
</div>
</div>