<div class="row">
<div class="columns">
	
	<p class="text-center lead">Quy mô của Hà Việt qua những con số thống kê</p><br><br><br>

	<ul class="small-block-grid-3 medium-block-grid-6">
		<li><img src="{{ site.baseurl }}/foundation/img/tkehviet-01.svg"></li>
		<li><img src="{{ site.baseurl }}/foundation/img/tkehviet-02.svg"></li>
		<li><img src="{{ site.baseurl }}/foundation/img/tkehviet-03.svg"></li>
		<li><img src="{{ site.baseurl }}/foundation/img/tkehviet-04.svg"></li>
		<li><img src="{{ site.baseurl }}/foundation/img/tkehviet-05.svg"></li>
		<li><img src="{{ site.baseurl }}/foundation/img/tkehviet-06.svg"></li>
	</ul>

</div>
</div>