<div class="row-02">
  <div class="container">


	<div class="col-sm-12 text-center" style="padding:10em 0 5em;">ĐỂ HÌNH DUNG QUY MÔ CỦA HÀ VIỆT<br>XIN MỜI XEM NHỮNG CON SỐ THỐNG KÊ SAU ĐÂY</div>  


  <div class="row no-gutter">

	<div class="col-xs-4 col-sm-2 text-center qc">
		<img src="{{ site.imgs | prepend: site.baseurl }}/qc-01.svg" />
	</div>

	<div class="col-xs-4 col-sm-2 text-center qc">
		<img src="{{ site.imgs | prepend: site.baseurl }}/qc-02.svg" />
	</div>

	<div class="col-xs-4 col-sm-2 text-center qc">
		<img src="{{ site.imgs | prepend: site.baseurl }}/qc-03.svg" />
	</div>

	<div class="col-xs-4 col-sm-2 text-center qc">
		<img src="{{ site.imgs | prepend: site.baseurl }}/qc-04.svg" />
	</div>

	<div class="col-xs-4 col-sm-2 text-center qc">
		<img src="{{ site.imgs | prepend: site.baseurl }}/qc-05.svg" />
	</div>

	<div class="col-xs-4 col-sm-2 text-center qc">
		<img src="{{ site.imgs | prepend: site.baseurl }}/qc-06.svg" />
	</div>

  </div>
	
	<div class="col-sm-12 text-center" style="padding:3em 0 10em;">và chúng tôi vẫn đang tiếp tục phát triển<br>không ngừng.</div>  
  
  </div>

</div>