<div class="row-01">
<!--<div class="shadow center-block"><img src="{{ site.imgs | prepend: site.baseurl }}/shadow.png" /></div>-->
  <div class="container">
    <div class="row">

      <div class="col-sm-8">
        <div class="jumbo">
          <!-- <img src="{{ site.imgs | prepend: site.baseurl }}/rf-slogan.svg" /> -->
          <h4 class="text-center visible-xs">Can mot doan khau hieu cho nay.<br>Haviet co chua? Neu chua thi lam ngay di.</h4>
          <h3 class="visible-sm">Can mot doan khau hieu cho nay.<br>Haviet co chua? Neu chua thi lam ngay di.</h3>
          <h2 class="visible-md">Can mot doan khau hieu cho nay.<br>Haviet co chua? Neu chua thi lam ngay di.</h2>
          <h1 class="visible-lg">Can mot doan khau hieu cho nay.<br>Haviet co chua? Neu chua thi lam ngay di.</h1>
          <p class="text-center visible-xs"> Mot doan gioi thieu ngan ve cong ty haviet<br><br>
              <button type="button" class="btn btn-warning">Readmore</button>
          </p>
          <p class="hidden-xs"> Mot doan gioi thieu ngan ve cong ty haviet<br><br>
              <button type="button" class="btn btn-warning">Readmore</button>
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="logo hidden-xs text-right">
          <img src="{{ site.imgs | prepend: site.baseurl }}/hv02.svg" />
        </div>
      </div>

    </div>
  </div>
</div>