<header class="outer hv-header outer-slide">
	<div class="inner">
		<div class="header">
			<h1 class="brand"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/hv-assets/imgs/hv01.svg"> {{ site.title }}</a></h1>
		</div>

		<div class="slick-slideshow">
			<div style="width:100%; height:400px; background: #fff;">slide1</div>
			<div style="width:100%; height:400px; background: #fff;">slide2</div>
			<div style="width:100%; height:400px; background: #fff;">slide3</div>
		</div>

	</div>
</header>