<section>
<header class="outer hv-header outer-slide">
	<div class="inner">
		<div class="header">

			<div class="header-brand">
				<img src="{{ site.baseurl }}/hv-assets/imgs/hv02-01.svg">
				<h1 class="brand"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
			</div>

			<div class="header-nav">
				<ul class="nav-list">
				{% assign plist = site.pages | sort:'pos' %}
				{% for sp in plist %}
				{% if sp.tags == 'topnav' %}
					<li class="list-item">
						<a {% if sp.url == page.url %}class="btn active"{% else %}class="btn"{% endif %} href="{{ sp.url }}">{{ sp.title }}</a>
					</li>
				{% endif %}
				{% endfor %}
				</ul>
			</div>

		</div>

	    <div class="page-top">
        	{% if page.bg %}
            	<img src="{{ page.bg }}">
            {% else %}
            	<img src="{{ site.baseurl }}/hv-assets/imgs/bg01.svg">
            {% endif %}
	    </div>

	</div>
</header>
</section>