<div class="big-list">
	<ul class="prd-big-list">
		<li class="prd-big-list-item"><a href="#"><img src="http://placehold.it/310x200" /></a></li>
		<li class="prd-big-list-item"><a href="#"><img src="http://placehold.it/310x200" /></a></li>
		<li class="prd-big-list-item"><a href="#"><img src="http://placehold.it/310x200" /></a></li>
	</ul>
	<ul class="prd-big-list">
		<li class="prd-big-list-item"><a href="#"><img src="http://placehold.it/310x200" /></a></li>
		<li class="prd-big-list-item"><a href="#"><img src="http://placehold.it/310x200" /></a></li>
		<li class="prd-big-list-item"><a href="#"><img src="http://placehold.it/310x200" /></a></li>
	</ul>

</div>