<section class="page-header">
	<div class="row show-for-medium-up">
		<div class="medium-4 columns">
			<h1><a href="{{ site.baseurl }}/"><img class="home-logo" src="{{ site.baseurl }}/foundation/img/hv01.svg"> Havico Corp.</a></h1>
		</div>
		<div class="medium-8 columns" >
			<ul class="inline-list right home-menu">
				<li><a href="{{ site.baseurl }}/#sanpham">Sản phẩm tiêu biểu <i class="fa fa-photo"></i></a></li>
			</ul>
		</div>
	</div>


	<div class="row show-for-small-only">
		<div class="columns text-center">
			<h1><a href="{{ site.baseurl }}/"><img class="home-logo" src="{{ site.baseurl }}/foundation/img/hv01.svg"></a></h1>
		</div>

	</div>	
	
</section>

<section class="prd-slideshow">
<div class="shdown"></div>
<div class="shup"></div>
</section>