<div id="row3-slideshow" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  
    <div class="item">
      <div class="row">
        <div class="col-md-6"><a href="#" class="thumbnail"><img data-scr="holder.js/300x200" /></a></div>
        <div class="col-md-6"><a href="#" class="thumbnail"><img data-scr="holder.js/300x200" /></a></div>
      </div>
    </div>
    <div class="item active">
      <div class="row">
        <div class="col-md-6"><a href="#" class="thumbnail"><img data-scr="holder.js/300x200" /></a></div>
        <div class="col-md-6"><a href="#" class="thumbnail"><img data-scr="holder.js/300x200" /></a></div>
      </div>
    </div>
      
  </div>

  <ol class="carousel-indicators">
    <li data-target="#row3-slideshow" data-slide-to="0" class=""></li>
    <li class="active" data-target="#row3-slideshow" data-slide-to="1"></li>
  </ol>  
 


</div>
