<div id="top-home-slideshow" class="carousel slide" data-ride="carousel">


  <div class="carousel-inner">
    <div class="item">
      <img src="{{ site.baseurl }}/{{ site.imgs }}/sbg-01.png" data-src="holder.js/1200x500/auto/#777:#777" alt="1200x500">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="item active">
      <img src="{{ site.baseurl }}/{{ site.imgs }}/sbg-02.png" data-src="holder.js/1200x500/auto/#666:#666" alt="1200x500">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="item">
      <img src="{{ site.baseurl }}/{{ site.imgs }}/sbg-03.png" data-src="holder.js/1200x500/auto/#555:#5555" alt="1200x500">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
    <div class="item">
      <img src="{{ site.baseurl }}/{{ site.imgs }}/sbg-04.png" data-src="holder.js/1200x500/auto/#555:#5555" alt="1200x500">
      <div class="carousel-caption">
        <h3>Fourth slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>

  </div>

  <div class="dotover"></div>
  
  
  <ol class="carousel-indicators">
    <li data-target="#top-home-slideshow" data-slide-to="0" class=""></li>
    <li class="active" data-target="#top-home-slideshow" data-slide-to="1"></li>
    <li class="" data-target="#top-home-slideshow" data-slide-to="2"></li>
    <li class="" data-target="#top-home-slideshow" data-slide-to="3"></li>
  </ol>  
 
 
  <a class="left carousel-control" href="#top-home-slideshow" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#top-home-slideshow" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
