//colors
$hvgreen: #003C32;
$hvyellow: #FBC900;
$hvlightgreen: #DCFAFA;
$hvlightgrey: #eee;
$fstcolor: #090;
$sndcolor: #f00;

//page width
$w: 90%;
$wmax: 960px;

//fonts
$mono: Cousine, monospace;
$sans: 'Open Sans', helvetica, arial, san-serif;
$basefont: 14px;

//mixin
//css transition
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
//button
@mixin button($c1,$c2) {
	text-decoration: none;
	padding: 0.5em 1em;
	color: $c1;
	border: 1px solid $c1;
	@include transition(all, 0.3s, ease-out);
	&:hover {
		color: $c2;
		border-color: $c2;
	}
}
//arrow
//just up and down only
@mixin arrow($size,$direction,$color) {
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	margin-left: -$size;
	border-right: $size solid transparent;
	border-left: $size solid transparent;
	@if $direction == up {
		border-bottom: $size solid $color;
	}
	@if $direction == down {
		border-top: $size solid $color;
	}
}
//clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%inner { 
	width: $w; 
	max-width: $wmax; 
	margin: 0 auto;
	position: relative;
	@media screen and (orientation: portrait) { width: 95%; }
}
