.hv-02-inner {
	background: #fff;
	padding: 5em 0; 
	.hvinfo { 
		width: 15%;
		display: inline-block;
		img { width: 100%; }
		@media screen and (orientation: portrait) {
			width:25%;
		}
	}
}