.hv-04 {
	background: rgba(255,153,0,0.2);
}
.hv-04-inner { background: #090; }
	
.svc-title { line-height: 1.2em; font-size: 3em; }

.svc-item { 
	width:27%; 
	display: inline-block;
	vertical-align: top; 
	margin: 10px;
	font-size: 12px;
	img { width: 70%; }
	@media screen and (orientation: portrait) { 
		width: 80%; 
		img { width: 50%; }
	}
}