/* for customizing css */
body {background:#eee;}
.header {background:#fefefe url('images/bg.png'); padding:7em 0 3em; }
.page-slideshow { background:#fff; height:450px; }
.prd-slideshow { background:#fff; height:250px; }

.rowfirst { background: #336601; padding: 3em 0; color:#fff; }
.logo img { width: 50%; }
.jumbo img { width: 100%; }
.rowsecond { height: 300px; background: #dfdfcb; }
.rowthird { height: 600px; background: #ffffff; }
.rowfourth { height: 200px; background: #f0f5cf; }
.rowfifth { height: 200px; background: #88af19; }

footer.site-footer { height:600px; background: #000 url('images/footer-bg.jpg') no-repeat center center; }