/* for customizing css */
body {background:#eee;}
.header {background: #000 url('images/header-bg.jpg') no-repeat center top;; padding:8em 0 0em; } /* #fefefe url('images/bg.png');  */
.page-slideshow { background:#fff; height:450px; }
.prd-slideshow { background:#fff; height:250px; }
.headimg { width: 100%; }

.rowfirst { background: #336601; color:#fff; padding-bottom: 5em; }
.shadow { height: 3em; margin-bottom: 2em; width: 100%; overflow: hidden; }
.shadow img { position: relative; left:50%; margin-left:-370px; }
.logo img { width: 50%; }
.jumbo img { width: 100%; }
.rowsecond { height: 300px; background: #dfdfcb; }
.rowthird { height: 600px; background: #ffffff; }
.rowfourth { height: 200px; background: #f0f5cf; }
.rowfifth { height: 200px; background: #88af19; }

footer.site-footer { height:600px; background: #000 url('images/footer-bg.jpg') no-repeat center center; }