/* for customizing css */
body {background:#eee;}
.header {background:#fefefe url('images/bg.png'); padding:7em 0 3em; }
.page-slideshow { background:#fff; height:450px; }
.prd-slideshow { background:#fff; height:250px; }