<!-- jquery backstretch, should use CDN version for production -->

<script src="{{ site.baseurl }}/hv-assets/js/backstretch.min.js"></script>

{% if page.background %}
	{% capture pbg %}
		{% for bg in page.background %}
			"{{ bg.url }}",
		{% endfor %}
	{% endcapture %}
	<script type="text/javascript">
		$.backstretch([ {{ pbg }} ], {duration: 5000, fade: 1000});
	</script>
{% endif %}



{% if page.headerbg %}
	{% capture headbg %}
		{% for hbg in page.headerbg %}
		  "{{ hbg.url }}",
		{% endfor %}
	{% endcapture %}
	<script type="text/javascript">
		$(".outer-slide").backstretch([ {{ headbg }} ], {duration: 5000, fade: 1500});
	</script>
	{% else %}
	<script type="text/javascript">
		$(".outer-slide").backstretch([ 
			"/hv-assets/imgs/p002.svg"
		 ], {duration: 500000, fade: 500});
	</script>
{% endif %}