---
layout: page
title: Giới thiệu
tags: topnav
pos: 00
permalink: /about/

background:
- url: /hv-assets/imgs/bg07.svg
- url: /hv-assets/imgs/bg11.svg

bg: /hv-assets/imgs/hpic01.jpg
---

<section class="outter bg-white-trans">
    <div class="inner bgwhite page-jumbo tx-center">
    <p class="big-text">Kinh nghiệm 20 năm cung cấp dịch vụ.<br>Hà Việt luôn đáp ứng tốt mọi nhu cầu của khách hàng.</p>
    </div>
</section>

<section class="outer">
    <div class="inner bgwhite page-content">
        <h2>{{ page.title }}</h2>
        <p>and the page permalink is {{ page.url }}</p>
    </div>
</section>

<section class="outer">
    <div class="inner prd-block bgyellow tx-center">
        <h2>Các sản phẩm Hà Việt đang kinh doanh</h2>
        {% include content-blocks/products_list.html %}
    </div>
</section>

<section class="outer hv-06">
    <div class="inner tx-center">
        <div class="section-content hv-06-inner">
            <div class="ctc-block">
                {% include content-blocks/footer_contact_block.html %}
            </div>
        </div>
    </div>
</section>

