---
layout: page
title: Nhà chờ xe bus
tags: navdropdown
permalink: haviet-product-bus-shelter/
tt: 3
---

<div class="header">
<div class="container">
  <div class="prd-slideshow">slideshow {{ page.title }}</div>
</div>
</div>

<div class="content">
<div class="container">
<!-- ========================================================== Ba Đình ====================== -->
	<h3>Quận Ba Đình</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="col-sm-2">codename</th>
				<th class="col-sm-2">Street</th>
				<th>Description</th>
				<th class="col-sm-2">size</th>
			</tr>
		</thead>
		
		<tbody>
			{% for bsh in site.data.bshelter %}
			{% if bsh.district == "Ba Đình" %}
			<tr>
				<td>{{ bsh.codename }}</td>
				<td>{{ bsh.street }}</td>
				<td>{{ bsh.description }}</td>
				<td>{{ bsh.sizew }}m x {{ bsh.sizeh }}m</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>	
	</table>

<!-- ========================================================== Cầu Giấy ====================== -->
	<h3>Quận Cầu Giấy</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="col-sm-2">codename</th>
				<th class="col-sm-2">Street</th>
				<th>Description</th>
				<th class="col-sm-2">size</th>
			</tr>
		</thead>
		
		<tbody>
			{% for bsh in site.data.bshelter %}
			{% if bsh.district == "Cầu Giấy" %}
			<tr>
				<td>{{ bsh.codename }}</td>
				<td>{{ bsh.street }}</td>
				<td>{{ bsh.description }}</td>
				<td>{{ bsh.sizew }}m x {{ bsh.sizeh }}m</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>	
	</table>

<!-- ========================================================== Đống Đa ====================== -->
	<h3>Quận Đống Đa</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="col-sm-2">codename</th>
				<th class="col-sm-2">Street</th>
				<th>Description</th>
				<th class="col-sm-2">size</th>
			</tr>
		</thead>
		
		<tbody>
			{% for bsh in site.data.bshelter %}
			{% if bsh.district == "Đống Đa" %}
			<tr>
				<td>{{ bsh.codename }}</td>
				<td>{{ bsh.street }}</td>
				<td>{{ bsh.description }}</td>
				<td>{{ bsh.sizew }}m x {{ bsh.sizeh }}m</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>	
	</table>

<!-- ========================================================== Hai Bà Trưng ====================== -->
	<h3>Quận Hai Bà Trưng</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="col-sm-2">codename</th>
				<th class="col-sm-2">Street</th>
				<th>Description</th>
				<th class="col-sm-2">size</th>
			</tr>
		</thead>
		
		<tbody>
			{% for bsh in site.data.bshelter %}
			{% if bsh.district == "Hai Bà Trưng" %}
			<tr>
				<td>{{ bsh.codename }}</td>
				<td>{{ bsh.street }}</td>
				<td>{{ bsh.description }}</td>
				<td>{{ bsh.sizew }}m x {{ bsh.sizeh }}m</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>	
	</table>

<!-- ========================================================== Hoàn Kiếm ====================== -->
	<h3>Quận Hoàn Kiếm</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="col-sm-2">codename</th>
				<th class="col-sm-2">Street</th>
				<th>Description</th>
				<th class="col-sm-2">size</th>
			</tr>
		</thead>
		
		<tbody>
			{% for bsh in site.data.bshelter %}
			{% if bsh.district == "Hoàn Kiếm" %}
			<tr>
				<td>{{ bsh.codename }}</td>
				<td>{{ bsh.street }}</td>
				<td>{{ bsh.description }}</td>
				<td>{{ bsh.sizew }}m x {{ bsh.sizeh }}m</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>	
	</table>

<!-- ========================================================== Long Biên ====================== -->
	<h3>Quận Long Biên</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="col-sm-2">codename</th>
				<th class="col-sm-2">Street</th>
				<th>Description</th>
				<th class="col-sm-2">size</th>
			</tr>
		</thead>
		
		<tbody>
			{% for bsh in site.data.bshelter %}
			{% if bsh.district == "Long Biên" %}
			<tr>
				<td>{{ bsh.codename }}</td>
				<td>{{ bsh.street }}</td>
				<td>{{ bsh.description }}</td>
				<td>{{ bsh.sizew }}m x {{ bsh.sizeh }}m</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>	
	</table>

<!-- ========================================================== Tây Hồ ====================== -->
	<h3>Quận Tây Hồ</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="col-sm-2">codename</th>
				<th class="col-sm-2">Street</th>
				<th>Description</th>
				<th class="col-sm-2">size</th>
			</tr>
		</thead>
		
		<tbody>
			{% for bsh in site.data.bshelter %}
			{% if bsh.district == "Tây Hồ" %}
			<tr>
				<td>{{ bsh.codename }}</td>
				<td>{{ bsh.street }}</td>
				<td>{{ bsh.description }}</td>
				<td>{{ bsh.sizew }}m x {{ bsh.sizeh }}m</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>	
	</table>

<!-- ========================================================== Thanh Xuân ====================== -->
	<h3>Quận Thanh Xuân</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="col-sm-2">codename</th>
				<th class="col-sm-2">Street</th>
				<th>Description</th>
				<th class="col-sm-2">size</th>
			</tr>
		</thead>
		
		<tbody>
			{% for bsh in site.data.bshelter %}
			{% if bsh.district == "Thanh Xuân" %}
			<tr>
				<td>{{ bsh.codename }}</td>
				<td>{{ bsh.street }}</td>
				<td>{{ bsh.description }}</td>
				<td>{{ bsh.sizew }}m x {{ bsh.sizeh }}m</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>	
	</table>

<!-- ========================================================== Từ Liêm ====================== -->
	<h3>Quận Từ Liêm</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="col-sm-2">codename</th>
				<th class="col-sm-2">Street</th>
				<th>Description</th>
				<th class="col-sm-2">size</th>
			</tr>
		</thead>
		
		<tbody>
			{% for bsh in site.data.bshelter %}
			{% if bsh.district == "Từ Liêm" %}
			<tr>
				<td>{{ bsh.codename }}</td>
				<td>{{ bsh.street }}</td>
				<td>{{ bsh.description }}</td>
				<td>{{ bsh.sizew }}m x {{ bsh.sizeh }}m</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>	
	</table>


</div>
</div>